*{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: auto;
 
  
}
#root{
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-bottom: 5rem;
  /* background-color: #F5F5F5; */
}
form{
  padding: 2rem;
  margin-bottom: 2.5rem;
}
.collection{
  padding: 2rem;
}
.visitbox{
  max-width: .5rem;
  margin: auto
}


.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .checkmark {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: .5em;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 29;
    stroke-dashoffset: 29;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }

  /*  */

  .xmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: red;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  .xmark {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    display: inline-block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: .5em;
    box-shadow: inset 0px 0px 0px red;
    animation: x-fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  .xmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 29;
    stroke-dashoffset: 29;
    animation: x-stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  @keyframes x-stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes x-fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px red;
    }
  }

.card-footer{
    margin-bottom: 0;
    padding: 0.25rem 5rem;
    width:100%;
    height:100%;
    text-align: center;
 
}
.card-subtitle{
    min-height: 40px;
}
.card-body{
  text-align: left;
margin: 0 !important;
}





.mapCenter{
  width: 90vw;
  height: 2.5vh;
  font-size: 60%;
  text-align: center;
 
 
  margin: auto;
}
.mapboxgl-ctrl-geocoder--input{
max-width: fit-content;

}
.space{
 
margin-left: 2em;
 margin-right: 2em;


}
.navbar-brand{
  margin-left: 0pt !important;
}
.dropdown-container{
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
max-width: 100%;
}
.mapboxgl-popup-content a{
  color:white;
  text-decoration: none !important;
  border: black;
  background-color: black;
  border-radius: .25rem;
  font-size: 100%;
  max-width: 100px;
  
}
.mapboxgl-popup-content p{
  max-width: 100px;
  font-size: 75%;
}
.mapboxgl-popup-content{
  background-color: #F5F5F5 ;
  text-align: center;

  max-width: 150px;
}

.polaroid-font{
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.5vw;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}